$white:       #fff !default;
$black:       #000000 !default;
$blue:        #3367D6 !default;
$indigo:      #0d0cb5 !default;
$purple:      #7971ea !default;
$pink:        #e83e8c !default;
$red:         #f23a2e !default;
$orange:      #ff5e15 !default;
$yellow:      #ffa139 !default;
$green:       #8bc34a !default;
$teal:        #48d494 !default;
$cyan:        #17a2b8 !default;
$lightblue:   #007bff !default;
$lightgray:   #efefef !default;

$primary:     #0d3463 !default;
$secondary:   #0496c7 !default;
$cookie:      #3367d6 !default;

$layout-breakpoint-extra-small : 320px;
$layout-breakpoint-small : 576px;
$layout-breakpoint-medium : 768px;
$layout-breakpoint-large : 992px;
$layout-breakpoint-extra-large : 1200px;